# python
*.pyc
*.pyo
__pycache__

# C
*.o
*.so
.ycm_extra_conf.py

# profiling tools
callgrind.out*
gmon.out

# binaries
main
main_oaep
blackbox
blackbox_oaep
multithread
multithread_oaep
multidiff
multidiff_oaep

# temporary files
*.dec
*.out

# dummy files
*.dummy
*.dummy.out

#cffi
_*.c
