# python
*.pyc
*.pyo
__pycache__

# C
*.o
.ycm_extra_conf.py

# profiling tools
callgrind.out*
gmon.out

# binaries
/c/main
/c/blackbox
/c/multithread

# temporary files
*.dec
*.out

# dummy files
*.dummy
*.dummy.out
